*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
	width: 100%;
}
.container{
	max-width: 60%;
	margin: auto;
}

main .showcase{
	background-image: url('https://images.unsplash.com/photo-1590144662036-33bf0ebd2c7f');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 5em 0;
	box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
	width: 100%;
}
.title{
	background-color: red;
	width: 150px;
	font-size: .7rem;
	padding: 1em;
	color: white;
	text-align: right;
}
.heading{
	width: 50%;
}
.heading h2{
	color: white;
	font-size: 3rem;
	font-weight: 600;
	margin:  .5rem 0;
}
.rate{
	font-size: 3rem;
	font-weight: 700;
	color: #E64327;
	margin:  .5rem 0;
}
.discount{
	font-size: .9rem;
	font-weight: 600;
	color: #86B224;
}
.call-to-action{
	text-decoration: none;
	display: inline-block;
	background-color: #86B224;
	color: white;
	padding: .5em 1.6em;
	border-radius: 25px;
	margin-top: 1em;
}

/* services section */
.services{
	background-color: #323031;
	color: #fff;
	padding: 50px 0;
	width: 100%;
}
.services h3{
	font-weight: 500;
	font-size: 1.5rem;
	margin-bottom: 35px;
}
.pricetable{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.pricetable .service{
	flex: 0 0 30%;
	background-color: #E64327;
	padding: 20px 0 0 0;
	text-align: center;

}
.pricetable .service h5{
	font-size: 1.2rem;
	font-weight: 700;
}
.pricetable .service>h5 + p{
	font-size: .8rem;
}
.pricetable .service>p + a{
	margin-bottom: 1em;
}
.pricetable .service img{
	width: 100%;
	display: block;
	margin: auto;
}
.pric{
	font-size: 2.1em;
	font-weight: 900;
}
.pricetable .service .div{
	background-color: #fff;
	color:  #000;
	padding: 5px 20px 20px;
}
.div h6{
	font-size: 1.2rem;
	margin-bottom: 1rem;
}
.div .saving{
	font-weight: 700;
}
.div .off{
	margin-bottom: 1rem;
}
.testimonials{
	text-align: center;
	background-color: #D1D6AE;
	padding: 80px 0;
	width: 100%;
}
.testimonials i{
	font-size: .8rem;
}
.testimonials h3{
	font-size: 2.6rem;
	font-weight: 900;
	margin-top: -15px;
	margin-bottom: 2.3rem;
}
.testimonials .boxes{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.box{
	flex: 0 0 23%;
}
.box img{
	border: 8.5px solid #fff;
	border-radius: 50%;
	height: 135px;
	margin-bottom: .8rem;
}
.box p{
	color: #222;
	font-size: .7rem;
	line-height: 1.4em;
}
.call-to-action-end{
	background-image: url('https://images.unsplash.com/photo-1530789253388-582c481c54b0');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
	text-align: center;
	padding: 5rem 0;
	width: 100%;
}
.call-to-action-end i{
	font-size: .8rem;
	color: #ddd;
	letter-spacing: 0;
}
.call-to-action-end h4{
	font-size: 2.3rem;
	font-weight: 900;
	color: #fff;
}
.call-to-action-end p{
	font-size: 2.1rem;
	font-weight: 900;
	color: #FFFCB7;
}
@media only screen and (max-width: 1080px){
	.container{
		max-width: 80%;
		margin: auto;
	}
}
@media screen and (max-width: 780px){
	.container{
		max-width: 90%;
	}
	.heading{
		width: 70%;
	}
}
@media screen and (max-width: 625px){
	body{
		font-size: 13px;
	}
	.heading{
		width: 90%;
	}
	.pricetable{
		display: flex;
		flex-direction: column;
		align-items: start;
	}
	.pricetable .service{
		margin-bottom: 20px;
	}
	.testimonials .boxes{
		display: flex;
		flex-direction: column;
	}
	.boxes .box{
		width: 80%;
		margin-top: 20px;
	}
	.heading h2, .heading .rate{
		font-size: 2.3rem;
	}
	.testimonials h3{
		font-size: 2rem;
	}
	.call-to-action-end h4{
	font-size: 2rem;
	font-weight: 700;
	color: #fff;
}
.call-to-action-end p{
	font-size: 1.7rem;
	font-weight: 700;
	color: #FFFCB7;
}
}
